$background-primary: #FCF8CF;

$nav-primary: #513929;

$button-primary: #E6AC00;

$button-secondary: #E6D200;

$button-danger: #6a1111;
$button-success: #61C29B;
$button-warning: #e6b775;

$colors: (
        "light": #FCF8CF,
        "dark": #513929,
        "primary": #E6AC00,
        "secondary": #FFEB0A, //"secondary": #E6D200,
        "info": #00A0A5,
        "danger": #6a1111,
        "warning": #e6b775,
        "success": #61C29B,
);

@each $name, $color in $colors {
  .color-#{$name} {
    background: $color;
  }
}
