$background-primary: #DEE4F7;

$nav-primary: #193861;
$nav-lighter-a: #7589a8;
$nav-lighter-b: #9DABC6;

$button-primary: #F797AA;
//$button-primary: #E6AAB6;

$button-secondary: #8083AA;

$button-danger: #6a1111;
$button-success: #61C29B;
$button-warning: #e6b775;