@import "flatpickr/dist/flatpickr.css";

.flatpickr-calendar {
    --day-size: 5rem;
    --day-padding: calc(var(--day-size) / 16);
    --day-margin: 0.5rem;
    width: calc(
            var(--day-size) * 7 + var(--day-margin) * 14 + var(--day-padding) * 2
    );
    @apply bg-lemon-chiffon-100 text-lemon-chiffon-900;
}

.dayContainer {
    @apply border-r-0 p-0;
}

.flatpickr-day,
&.prevMonthDay,
&.nextMonthDay {
    --hover-background: theme(colors.lemon-chiffon.300);
    @apply max-w-none border border-solid border-r-transparent rounded-md;

    &:nth-child(n + 8) {
        @apply border-t-transparent;
    }

    &:nth-child(7n-6) {
        @apply border-l-0;
    }

    &:nth-child(n + 36) {
        @apply border-b-0;
    }

    &:nth-child(-n + 7) {
        @apply mt-0;
    }

    &.today:not(.selected) {
        @apply border-y-transparent border-b-lemon-chiffon-500 border-t-lemon-chiffon-900;
    }

    &:hover {
        background-color: var(--hover-background) !important;
        @apply text-lemon-chiffon-900
    }

    &.startRange,
    &.endRange {
        @apply border-lemon-chiffon-900 rounded-lg;

        &.inRange, &.selected {
            @apply bg-sugar-cane-700 text-lemon-chiffon-100;
        }
    }

    &.today {
        @apply rounded-full;

        &.selected {
            @apply z-10;
        }
    }

    &.inRange {
        @apply bg-sugar-cane-200 border-sugar-cane-200 shadow-none;
    }
}

.rangeMode .flatpickr-day {
    @apply mt-0.5;
}

.flatpickr-weekwrapper .flatpickr-weeks {
    @apply shadow-none;
}

.flatpickr-weekwrapper span.flatpickr-day {
    @apply mx-0 my-0.5 border-0;
}

.hasWeeks .flatpickr-days {
    @apply border-r-0;
}

@media screen and (min-width: 0\0
) and (min-resolution: +72dpi) {
    span.flatpickr-day {
        display: block;
        flex: 1 0 auto;
    }
}

