@import "../../assets/scss/palette";

.main-header {
  grid-area: header;
  background-color: $nav-primary;

  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-items {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      list-style: none;
    }

    &-item {
      border-radius: 0.25rem;
      padding: 0.2rem;
      margin: 0.25rem;

      color: whitesmoke;
      background-color: $button-primary;

      a, a:link, a:visited, a:focus, a:hover, a:active {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
        text-decoration: none;

        color: whitesmoke;
      }
    }
  }
}
