@import "../../assets/scss/_variables.scss";

.main-header {
  grid-area: header;
  background: linear-gradient(
                  225deg,
                  $nav-primary 0%,
                  $nav-lighter-a 20%,
                  $nav-lighter-b 35%,
                  $background-primary 50%
  );

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;

      list-style: none;
    }

    &__link a {
      font-weight: bold;
      text-decoration: none;

      color: whitesmoke;
      background-color: $button-primary;

      border-radius: 0.25rem;
      padding: 0.2rem;
      margin: 0.25rem;

      :active {
        text-decoration: none;
      }
    }
  }
}
