@import "../../assets/scss/palette";

.main-header {
  grid-area: header;
  background-color: $nav-primary;

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__icon {

    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;

      list-style: none;
    }

    &__link a {
      font-weight: bold;
      text-decoration: none;

      color: whitesmoke;
      background-color: $button-primary;

      border-radius: 0.25rem;
      padding: 0.2rem;
      margin: 0.25rem;

      :active {
        text-decoration: none;
      }
    }
  }
}
